<h1>Welcome to the Matrix</h1>

<form class="form form-default" action="/players" method="post">
  <label for="player_name">Your name</label>
  <input type="text" name="player_name" placeholder="Priyanka Chopra">
  <input type="hidden" name="game_id" value="<%= @game.id %>">
  <button>Add Player</button>
</form>

<ol>
    <li><strong><%= @host.name %> (host)</strong></li>
  <% @current_player.each do |player| %>
    <li><%= player.name %> (<%= player.game_id %>)</li>
  <% end %>
</ol>
