<h1>Welcome to the Matrix</h1>

Host:
<%= @host.name %>

<!-- Form submission
Create new player
Display player to show page -->

<form class="" action="/players" method="post">
  <label for="player_name">Your name</label>
  <input type="text" name="player_name" placeholder="Priyanka Chopra">
  <input type="hidden" name="game_id" value="<%= @game.id %>">
  <button type="submit" name="button">Add Player</button>
</form>
